/* *{
    margin:0%;
    padding:0px;
    box-sizing:border-box;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
    max-width: 500px;
     margin: auto;
} 
 form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;
    border-radius:18px;
}
#btn {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius:18px;
}
#btn:hover {
    background-color: #16dc41;
}
#taskList {
    padding: 0;
}
button{
    border-radius:50%;
    background-color:red;
    margin-right:30px;
}
table {
     width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
 th, td {
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
} 
@media (max-width: 600px) {
    form{
        dispaly:flex;
        width:250px;
        flex-direction: column;
    }
    #btn{
       margin-top: 15px;
       padding: 10px 15px;
       width:100px;
       margin-left: 57px;
    }
    table{
        width:95%;
    }
}


